html {
    background-color: lightskyblue;
}

h1, span, label, a {
    font-family: "Play", serif;
}

span, label {
    font-size: 14px;
    font-weight: 400;
}

h1 {
    font-size: 18px;
    font-weight: 700;
}

a {
    font-size: 14px;
    font-style: italic;
    color: darkblue;
}

a:hover {
    color: deepskyblue;
}