html {
    background-color: mediumseagreen;
}

h1 {
    font-size: 18px;
    font-family: "Handjet", sans-serif;
    font-weight: 700;
}

a {
    font-family: "Microsoft Sans Serif", serif;
    font-size: 14px;
    font-style: italic;
    color: darkblue;
}

a:hover {
    color: deepskyblue;
}