html {
    background-color: mediumseagreen;
}

h1 {
    font-size: 24px;
    font-family: fantasy;
    color: black;
}

a {
    font-size: 12px;
    font-family: serif;
    font-style: italic;
    color: darkblue;
}

a:hover {
    color: deepskyblue;
}