td, th {
    border: solid 1px #000000;
    text-align: center;
    font-family: "Microsoft Sans Serif", serif;
    font-size: 14px;
}

table {
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
}

.buttonTable {
    margin: 0 auto;
}

.buttonTable td, .buttonTable tr {
    border: none;
}

.table th {
    border-top: none;
}

.table td:first-child, .table th:first-child {
    border-left: none;
}

.table td:last-child, .table th:last-child {
    border-right: none;
}
.table tr:last-child td {
    border-bottom: none;
}