td, th {
    border: solid 1px #000000;
    text-align: center;
    font-family: "Microsoft Sans Serif", serif;
    font-size: 14px;
    background-color: lightblue;
}

table {
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
}

.buttonTable {
    margin: 0 auto;
}

.buttonTable td, .buttonTable tr {
    border: none;
}